
.contact-us {
    padding-bottom: 2em;
}

.glyphicon
{
    margin-right: 0.5em;
}

.form-group {
    text-align: left;
    label {
        color: black;
      
    }
}

.wrapper{
    border: 1px solid #337ab7 ;
    border-radius: 5px;
}

.fom{
    padding-bottom: 2em;
}