
.contact-us {
    padding-bottom: 2em;
}

.glyphicon
{
    margin-right: 0.5em;
}

.form-group {
    text-align: left;
    label {
        color: black;
      
    }
}

.wrapper{
}

.fom{
    padding-bottom: 2em;
}