<app-breadcrumbs></app-breadcrumbs>
<section>
    <div class="container">
      <div class="row">
        <app-product-category></app-product-category>
           <div class="col-xs-12 col-sm-8 col-lg-8">
               <div class="row">
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                   <h2 class="text-center text-underline">{{categoryName | uppercase}}</h2></div>
               </div>

                <!-- info -->
                <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center media media-bold">
                    <div class="col-xs-12"><h3 class="media-bold noResult"><i>Who are we ?</i></h3></div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ad asperiores quaerat repellat dolor pariatur, officia veritatis eius non vero fuga, ipsam animi, tempore praesentium.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ad asperiores quaerat repellat dolor pariatur, officia veritatis eius non vero fuga, ipsam animi, tempore praesentium.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ad asperiores quaerat repellat dolor pariatur, officia veritatis eius non vero fuga, ipsam animi, tempore praesentium.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ad asperiores quaerat repellat dolor pariatur, officia veritatis eius non vero fuga, ipsam animi, tempore praesentium.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ad asperiores quaerat repellat dolor pariatur, officia veritatis eius non vero fuga, ipsam animi, tempore praesentium. </p>

                    <div class="col-xs-12 checkout"><h3 class="media-bold noResult"><i>Our History</i></h3></div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ad asperiores quaerat repellat dolor pariatur, officia veritatis eius non vero fuga, ipsam animi, tempore praesentium. </p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ad asperiores quaerat repellat dolor pariatur, officia veritatis eius non vero fuga, ipsam animi, tempore praesentium. </p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ad asperiores quaerat repellat dolor pariatur, officia veritatis eius non vero fuga, ipsam animi, tempore praesentium. </p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ad asperiores quaerat repellat dolor pariatur, officia veritatis eius non vero fuga, ipsam animi, tempore praesentium. </p>
                    <!-- contact-us button -->
                    <div class="col-xs-12 checkout contact-us"><a class="btn btn-block btn-warning " routerLink = "/contact-us"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Contact Us</a></div>
                    <!-- button ends -->
                </div>
                <!-- info ends -->
          </div>
      </div>
    </div>
</section>