

img:hover
{
    cursor: pointer;
}

.move
{
    margin-right: 0.5em;
}

.move:hover
{
    cursor: pointer;
    color: darkorange;
}
.info
{
    text-align: center;
}

.result
{
    margin-left: 0.5em;
}
.media-bold
{
    font-weight: bold;
}

.checkout
{
    padding: 1em 0;
}

#log{
    margin-right: 0.5em ;
    padding-top: 0.5em;
}

.optionBtn {
    height: 50px;
}