<div class="col-xs-12 col-sm-4 col-lg-4">

    <div class="list-group">
        <a href="#" class="list-group-item active">
           Categories
        </a>
        <a *ngFor ="let category of categories" class="list-group-item child" [routerLink] = "['/view-product/',category.router]">
          {{category.cat_title}}
        </a>
      </div>

      <!-- most popular -->
      <div class="list-group">
          <a href="#" class="list-group-item active">
             Most Popular
          </a>
          <a *ngFor ="let category of most_popular" class="list-group-item child" [routerLink] = "['/view-product/',category.router]">
            {{category.cat_title}}
          </a>
        </div>

</div>