<div class="col-xs-12 col-sm-4 col-lg-4">

  <div class="list-group">
      <a href="#" class="list-group-item active">
         Admin Panel
      </a>
        <a class="list-group-item child" [routerLink] = "['/view-product/']">
           Manage Users
       </a>
        <a class="list-group-item child" [routerLink] = "['/view-product/']">
          Manage Orders
       </a>
         <a class="list-group-item child" [routerLink] = "['/view-product/']">
            Manage Products
        </a>
         <a class="list-group-item child" [routerLink] = "['/view-product/']">
           Manage Categories
         </a>
    </div>

</div>