.wrapper
{
    width: 50%;
    margin: 0 auto;
    border: 1px solid #337ab7;
    border-radius: 5px;
    
}
.inner-box
{
    padding: 1em;
    background:  #337ab7;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    .form-control
    {
        height: 45px;
        border-radius: 0px;
    }

    .note
    {
        padding-top: 1em;
        a
        {
            &:hover
            {
                cursor: pointer;
                color: darkorange;
            }
        }
    }
}
.have-account
{
    padding-top: 1em;
    border-top: 1px solid gray;
    font-weight: bold;
}

.sign-in
{
    font-weight: bold;
    &:hover
    {
        cursor: pointer;
        color: darkorange;

    }
}