<app-breadcrumbs></app-breadcrumbs>  
    <section>
        <div class="container">      
          <div class="row">
            <app-product-category></app-product-category>
                  <div class="col-xs-12 col-sm-8 col-lg-8">                   
                                            
                        <div class="row media thankyou">
                               <!-- shipping info -->
                               <div class="col-xs-12 col-sm-12">
                                  <h3 class="text-center text-uppercase"> Congratulations .</h3>  
                                  <h4 class="text-center text-uppercase"> your order has been successfully placed .</h4>  
                                  <h5 class="text-center text-uppercase"> we hope you enjoyed shopping with us .</h5>
                                  <h5 class="text-center text-uppercase"> we'll contact you as soon as your order is shipped for delivery .</h5>
                                  <h5 class="text-center text-uppercase">Thank you .</h5>
                              </div>
                              <div class="col-xs-12 col-sm-12">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum sunt cupiditate, officia quae ullam dolores voluptates provident dolorum at blanditiis inventore? Possimus sequi placeat neque necessitatibus non voluptatum minima in!</p>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa ratione cupiditate aliquam veritatis enim, totam deleniti. Excepturi autem assumenda, odit vero, sint dolorem nisi ad omnis hic iusto quibusdam delectus!</p>
                                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates nisi iste magnam cum nihil ad sit assumenda quo reiciendis fugit aliquam vel minus harum, a dolorem, corrupti deleniti non? Beatae.</p> 

                                <a  class="btn btn-block btn-warning text-uppercase" routerLink = '/'>explore more ...</a>
                              </div>

                             
                        </div>
                       
                       
                  </div>
            </div>
          </div>
        </section>
                      
