<section>
  <div class="container">
    <div class="row">
       <div class="col-xs-12 col-sm-12 col-lg-12">
        <h3 class="text-center text-uppercase">OOOOOH TOOOOOO BAD, WE CAUGHT YOU :(</h3>
        <h2 class="text-center notfound"> 404 NOT FOUND </h2>
      </div>

      <div class="col-xs-12 col-sm-12 col-lg-12 text-center">
       <a class="btn btn-warning text-center" routerLink = '/'> <span class="glyphicon glyphicon-home goHome"> GO HOME</span></a>
      </div>

    </div>
  </div>
</section>