.porductHolder
{
    margin-top: 1em;
}

.mmodal-dialog
{
    margin: 0 auto;
    .close{
        border: 1px solid red;
    }
   
}
.stock
{
    color: green;
    text-decoration: underline;
}


.info
{
    padding-bottom: 2em;
}

.btn-block, .btn-block i
{

    font-weight: bold;
}

.padding-bottom
{
    padding-bottom: 1.5em;
}

.padding-top
{
    padding-top: 1em;
}

.select
{
    padding-bottom: 1em;
}

.fa-truck, .truck
{
    color: green;
}
.name
{
    padding-top: 1em;
}

.tab-content
{
    border: 1px solid #337ab7;
    border-radius: 5px;
    padding: 0.5em;
}